@model Dronewebshop.Models.ProductRepository

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="m-3">

    <h1 class="centreren">Droneshop.be - Catalogus</h1>

    <form asp-action="WinkelmandReturn" asp-controller="Home">
        <table class="table">
        <tr class="">
            <td>ArtNr</td>
            <td>Naam</td>
            <td>Foto</td>
            <td>Verkoopprijs</td>
            <td>Voorraad</td>
            <td></td>
        </tr>
                    @foreach (var product in Model.Producten)
            {
                <tr>
                    <td>@product.ArtNr</td>
                    <td>@product.Naam</td>
                    <td><img class="fotocat" src="@Url.Content("~/images/" + product.Fotonaam + ".jpg")"/></td>
                    <td>€ @product.Prijs</td>
                    <td>@product.Voorraad</td>
                    <td>
                        @if (product.Voorraad >0)
                        {
                            <a asp-action="Toevoegen" asp-route-pid="@product.ArtNr">Voeg toe aan winkelmandje...</a>
                        }
                        else
                        {
                            <p>Niet in voorraad</p>
                        }
                    </td>
                </tr>
            }

        </table>
        <p class="text-center" ><input class="justify-content-center" type="submit" value="Bekijk de inhoud van het winkelmandje"/></p>
    </form>
        <p class="text-center" ><a class="justify-content-center" asp-action="Logout" asp-controller="Auth">Afmelden</a></p>
    </body>
</html>
